<%= form_for(@import_error) do |f| %>
  <% if @import_error.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@import_error.errors.count, "error") %> prohibited this import_error from being saved:</h2>

      <ul>
      <% @import_error.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br />
    <%= f.text_field :data %>
  </div>
  <div class="field">
    <%= f.label :error %><br />
    <%= f.text_field :error %>
  </div>
  <div class="field">
    <%= f.label :import_id %><br />
    <%= f.number_field :import_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
