<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @import_error.data %>
</p>

<p>
  <b>Error:</b>
  <%= @import_error.error %>
</p>

<p>
  <b>Import:</b>
  <%= @import_error.import_id %>
</p>


<%= link_to 'Edit', edit_import_error_path(@import_error) %> |
<%= link_to 'Back', import_errors_path %>
