<p id="notice"><%= notice %></p>

<p>
  <b>Proposition:</b>
  <%= @deal.proposition %>
</p>

<p>
  <b>Value:</b>
  <%= @deal.value %>
</p>

<p>
  <b>Price:</b>
  <%= @deal.price %>
</p>

<p>
  <b>description:</b>
  <%= @deal.description %>
</p>


<%= link_to 'Edit', edit_deal_path(@deal) %>
