<!DOCTYPE html>
<html>
<head>
  <title><%= @deal.proposition %></title>
 
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->


  <%= stylesheet_link_tag    "scoped_reset", :media => "all" %>
  <%= stylesheet_link_tag    "entertainment-pdx/assets/stylesheets/deals", :media => "all" %>

  <script type="text/javascript">
    var aaDealPath = '<%= deal_path @deal, :format => "json" %>';
  </script>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>

</head>
<body>
  <h1>Entertainment Portland Deal of the Day</h1>

<%= yield %>
                           
</body>
</html>
